@import "~scss/variables";

$alpha-popup-list-color-error: $color-crimson-500;
$alpha-popup-list-color-success: $color-emerald-500;

.alpha-popup-list {
    .alpha-popup-list__content {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .is--inactive {
        color: $alpha-popup-list-color-error;
    }

    .is--active {
        color: $alpha-popup-list-color-success;
    }
}
